# SERVER
PORT=3000
NODE_ENV=development

# NETWORK SECURITY
RATE_LIMIT_WINDOW_MS=9000
RATE_LIMIT_MAX=100

#DATABASE
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dev-entix-api

# MONITORING
LOG_LEVEL=debug
NEW_RELIC_ENABLED=true
NEW_RELIC_APP_NAME=prod-entix-api
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_LICENSE_KEY=your-injest-key

# COGNITO
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_gUbZbHp4g
COGNITO_CLIENT_ID=6htrllj46ik2t98uksvcu0r2h8