# Ignore build and distribution directories
/dist
/build

# Ignore node modules
/node_modules

# Ignore environment variable files
.env
.env.*

# Ignore test coverage output
/coverage

# Ignore log files
*.log

# Optionally ignore temporary files
*.tmp